body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('./bg/island.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 99vw;
    height: 98vh;
    transition: background-image 0.5s ease-in-out;
}

.back {
    /* background-color: rgba(0, 0, 0, 0.195); */
    backdrop-filter: blur(10px);
    height: 800px;
    width: 900px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.631);
}
#behind{
    width: 280px;
    height: 280px;
    border-radius: 150px;
    background-color: rgba(255, 255, 255, 0.242);
    display: flex;
    justify-content: center;
    align-items: center;
}
#pic img {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    background-size: contain;
}

.posht {
    /* background-color: red; */
    height: 300px;
    width: 470px;
    color: white;
}

.nosig:hover {
    background-color: rgba(255, 255, 255, 0);
}

.bot {
    width: 440px;
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 20px;
    border-radius: 10px;
    /* padding-top: 15px; */
}

.bot:hover {
    background-color: rgba(0, 0, 0, 0.136);
    cursor: pointer;
}

h2 {
    font-size: 40px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(163, 163, 163);
}

#myAudio {
    width: 700px;
    height: 100px;
}

#background {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    position: absolute;
    top: 48px;
    right: 450px;
    background-color: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.491);
}

#background:hover {
    background-color: rgba(255, 255, 255, 0.42);
    cursor: pointer;
}